{
	res = {
		"add_time" = 1501033250;
		"dg_time" = 1501119829;
		email = "long_ear@163.com";
		good = (
			{
				"add_time" = 1500998400;
				id = 192;
				item = (
					{
						img = (
							"http://pic.qiantucdn.com/58pic/19/09/36/567805b6a1417_1024.jpg!/fw/780/watermark/url/L3dhdGVybWFyay12MS4zLnBuZw==/align/center",
							"http://pic.qiantucdn.com/58pic/19/09/36/567805b6a1417_1024.jpg!/fw/780/watermark/url/L3dhdGVybWFyay12MS4zLnBuZw==/align/center",
						);
						title = "Started to produce";
					},
				);
				shuoming = "Started to produce";
				stu = 1;
				sure = 2;
				title = "Started to produce";
			},
			{
				"add_time" = 1501033284;
				id = 193;
				item = (
					{
						img = (
							"http://pic.qiantucdn.com/58pic/19/09/36/567805b6a1417_1024.jpg!/fw/780/watermark/url/L3dhdGVybWFyay12MS4zLnBuZw==/align/center",
							"http://pic.qiantucdn.com/58pic/19/09/36/567805b6a1417_1024.jpg!/fw/780/watermark/url/L3dhdGVybWFyay12MS4zLnBuZw==/align/center",
						);
						title = "Production of complete";
					},
					{
						img = (
							"http://pic.qiantucdn.com/58pic/19/09/36/567805b6a1417_1024.jpg!/fw/780/watermark/url/L3dhdGVybWFyay12MS4zLnBuZw==/align/center",
							"http://pic.qiantucdn.com/58pic/19/09/36/567805b6a1417_1024.jpg!/fw/780/watermark/url/L3dhdGVybWFyay12MS4zLnBuZw==/align/center",
							"http://pic.qiantucdn.com/58pic/26/13/28/58c29178f2fae_1024.jpg!/fw/780/watermark/url/L3dhdGVybWFyay12MS4zLnBuZw==/align/center",
							"http://pic.qiantucdn.com/58pic/26/13/28/58c29178f2fae_1024.jpg!/fw/780/watermark/url/L3dhdGVybWFyay12MS4zLnBuZw==/align/center",
						);
						title = "Production of complete";
					},
					{
						img = (
							"http://pic.qiantucdn.com/58pic/19/09/36/567805b6a1417_1024.jpg!/fw/780/watermark/url/L3dhdGVybWFyay12MS4zLnBuZw==/align/center",
						);
						title = title;
					},
				);
				shuoming = "Production of complete";
				stu = 2;
				sure = 2;
				title = "Production of complete";
			},
			{
				"add_time" = 1501033326;
				id = 194;
				item = (
					{
						img = (
							"http://pic.qiantucdn.com/58pic/19/09/36/567805b6a1417_1024.jpg!/fw/780/watermark/url/L3dhdGVybWFyay12MS4zLnBuZw==/align/center",
							"http://pic.qiantucdn.com/58pic/19/09/36/567805b6a1417_1024.jpg!/fw/780/watermark/url/L3dhdGVybWFyay12MS4zLnBuZw==/align/center",
						);
						title = "Production of complete";
					},
				);
				shuoming = " Is the packaging";
				stu = 3;
				sure = 2;
				title = "Is the packaging";
			},
			{
				"add_time" = 1501033354;
				id = 195;
				item = ();
				shuoming = "Is the container";
				stu = 4;
				sure = 2;
				title = "Is the container";
			},
			{
				"add_time" = 1501119793;
				id = 196;
				item = (
					{
						img = (
							"/Public/Uploads/order_img/2017-07-26/2017_07_26_09_43_23_50740.jpg",
							"/Public/Uploads/order_img/2017-07-26/2017_07_26_09_43_25_61915.jpg",
						);
						title = "The customs clearance";
					},
					{
						img = (
							"/Public/Uploads/order_img/2017-07-26/2017_07_26_09_43_31_69301.jpg",
							"/Public/Uploads/order_img/2017-07-26/2017_07_26_09_43_33_29171.jpg",
						);
						title = "The customs clearance";
					},
				);
				shuoming = "The customs clearance";
				stu = 5;
				sure = 2;
				title = "The customs clearance";
			},
			{
				"add_time" = 1501119827;
				id = 197;
				item = (
					{
						img = (
							"/Public/Uploads/order_img/2017-07-26/2017_07_26_09_44_47_35026.jpg",
							"/Public/Uploads/order_img/2017-07-26/2017_07_26_09_44_49_38083.jpg",
						);
						title = "Ship by sea/to port";
					},
				);
				shuoming = "Ship by sea/to port";
				stu = 6;
				sure = 2;
				title = "Ship by sea/to port";
			},
			{
				"add_time" = 1501119897;
				id = 198;
				item = (
					{
						img = (
							"/Public/Uploads/order_img/2017-07-26/2017_07_26_09_45_41_85610.jpg",
							"/Public/Uploads/order_img/2017-07-26/2017_07_26_09_45_42_49061.jpg",
						);
						title = " Send the file";
					},
					{
						img = (
							"/Public/Uploads/order_img/2017-07-26/2017_07_26_09_45_47_29465.png",
							"/Public/Uploads/order_img/2017-07-26/2017_07_26_09_45_49_63250.png",
						);
						title = " Send the file";
					},
				);
				shuoming = " Send the file";
				stu = 8;
				sure = 2;
				title = "Send the file";
			},
		);
		id = 59;
		"is_fx" = 1;
		"kd_name" = zhongtong;
		"kd_num" = 15615615615616;
		"order_num" = 1568956;
		stu = 9;
		uid = 12;
		"wc_time" = 1501292758;
	};
	stu = 1;
}